* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#modal {
  height: 100vh;
  /* filter: blur(10px);
  -webkit-filter: blur(10px); */
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.show {
  display: block !important;
}

